body
{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
}

h1 { font-size: 1.5vw; }

h2 { font-size: 1vw; }

h3 { font-size: 1vw; }

p 
{ 
    font-size: 1vw;
    font-weight: 500;
}

i { font-size: 1vw; }

.bold { font-weight: 600;}

/* Header */

nav
{
    display: flex;
    justify-content: space-between;
    margin: 0 4vw;
}

nav img
{
    height: 3vw;
    align-self: center;
}

nav ul
{
    display: flex;
    list-style: none;
    margin: 0;
}

.li-link
{
    text-decoration: none;
    display: block;
    padding: 20px 20px 0 20px; 
}

.li-link p
{
    text-align: center;
}

.li-link:link, .li-link:visited
{
    color: black;
}

.li-link:hover
{
    border-top: solid 2px #0065FC;
    color: #0065FC;
    padding-top: 18px;
}

/* Main */

main { margin: 0 3vw; }

#locate h1 { margin-bottom: 0.7vw; }
#locate-p { margin-top: 0.7vw; }

#locate-form
{
    display: flex;
    height: 3.2vw;
}

#locate-form-icon, #locate-form input, #locate-form button
{
    display: inline-block;
}

#locate-form-icon
{
    width: 3.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 0.9vw 0 0 0.9vw;
}

#locate-form input
{
    border: solid 1px #F2F2F2;
    border-right: none;
    font-weight: 800;
    font-size: 1vw;
    padding-left: 1vw;
}

#locate-form input[type=text]:focus 
{
  border: 1px solid #F2F2F2;
}

#locate-form button::placeholder { color: black; }

#locate-form #value, #icon
{
    color: white;
    border: solid 1px #F2F2F2;
    background-color: #0065FC;
    border-radius: 0 0.9vw 0.9vw 0;
    font-size: 1vw;
    font-weight: 600;
    padding: 0 1.2vw;
}

#locate-form #value:hover
{
    background-color: #DEEBFF;
    transition: .3s;
    cursor:pointer;
}

#locate-form #icon, #locate-form span { display: none; }

#locate-filters-block
{
    display: flex;
    margin: 1vw 0 1.1vw 0;
}

#locate-filters-block h3 { margin-right: 2vw; }

#locate-filters
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.locate-filter-item
{
    display: flex;
    height: 3vw;
    margin-right: 1vw;
    border: solid 2px #F2F2F2;
    border-radius: 1.5vw;
}

.locate-filter-item:hover
{
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
    transition: ease-in-out .3s;
    cursor: pointer;
}

.locate-filter-icon
{
    position: relative;
    bottom: 2px;
    width: 3vw;
    height: 3vw;
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
    border-radius: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locate-filter-item i { color: #0065FC; }

.locate-filter-item p
{
    justify-content: center;
    align-self: center;
    height: 3vw;
    font-weight: 800;
    line-height: 3vw;
    padding: 0 1vw;
    width: auto;
}

#locate-info
{
    display: flex;
    margin: 1.2vw 0;
}

#locate-info-bubble
{
    width: 1.5vw;
    height: 1.5vw;
    margin-top: 0.85vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#locate-info-bubble i
{
    padding: 0.3vw 0.6vw;
    border: solid 0.15vw #F2F2F2;
    color: #0065FC;
    border-radius: 1.5vw;
}

#locate-info-p { margin-left: 1vw; }

/* Cards */

.card
{
    background-color: white;
    border-radius: 16px;
    padding: 0.3vw;
    box-shadow: 0 7px 14px 0 rgba(0,0,0,0.07);
    transition: 0.3s;
}

.card a
{
    height: 100%;
    color: black;
    text-decoration: none;
}

.card-image img
{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card-body
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 5px;
    padding-bottom: 0.4vw;
}

.card-info p
{
    margin-top: 0;
    margin-bottom: 0;
}

.card-review
{
    margin-top: auto;
}

.card-review ul
{
    display: flex;
    margin: 0;
    padding: 0;
}

.card-review li
{
    list-style: none;
}

.card-review i
{
    color: #0065FC;
    font-size: 0.8vw;
}

.empty i
{
    color: #F2F2F2;
    font-size: 0.8vw;
}

.card:hover
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

#top-half-block
{
    display: flex;
    justify-content: space-between;
}

/* Hébergements */

#lodging, #popularity
{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 1.5vw 2.5vw;
    width: 66%;
}

#popularity
{
    width: 31%;
}

#lodging-card-holder
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lodging-card-holder .card
{
    flex: 0 31%;
    height: 16vw;
    margin-bottom: 2vw;
}

#lodging-card-holder .card a
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#lodging-card-holder .card-title h3
{
    margin: 0.5vw 0;
}

#lodging-card-holder .card-image
{
    height: 9vw;
}

#lodging-card-holder .card-image img
{
    height: 100%;
}

/* Popularity */

#popularity-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popularity-card-holder
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Card Override */

#popularity-card-holder .card
{
    height: 11vw;
    margin-bottom: 2vw;
}

#popularity-card-holder .card a
{
    display: flex;
}

#popularity-card-holder .card-title h3
{
    margin: 0.5vw 0;
}

#popularity-card-holder .card-image
{
    width: 9vw;
}

#popularity-card-holder .card-body
{
    width: 12vw;
    justify-content: space-between;
    padding-left: 1vw;

}

#popularity-card-holder img
{
    height: 100%;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
}

/* Activities */

#activities { margin: 3vw 0; }

#activities-card-holder
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 30vw;
}

#activities-card-holder .card
{
    flex-direction: column;
    width: 22%;
    padding: 0;
}

#activities-card-holder .card a
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

#activities-card-holder .card-title
{
    height: 4.5vw;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    align-items: center;
}

#activities-card-holder .card-title h3
{
    padding-left: 1vw;
}

#activities-card-holder .card-image
{
    height: calc(100% - 4.5vw);
}

#activities-card-holder img
{ 
    height: 100%;
    object-fit:cover;
}

#activities-card-holder .card:nth-child(3n-1) { height: 53%; }

#activities-card-holder .card:nth-child(3n) { height: 38%; }

#activities-card-holder .card:nth-child(3n-2) { height: 100%; }

#activities-card-holder .card:nth-child(3n-2) .card-image { height: 100%; }

/* Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    padding: 1vw 3vw 0 3vw;
}

.footer-element { margin-right: 25%; }

.footer-element ul { padding: 0; }

.footer-element li
{
    width: max-content;
    list-style: none;
}

.footer-link
{
    color: black;
    text-decoration: none;
}

.box /* IE/Opera */
{
    box-sizing: border-box;
}

*
{
    box-sizing: border-box;
}

/* Tablettes */

/*      Selon cette page, pour augmenter la précision des valueurs comparées,
        768.01px devrait réduire considérablement qu'un appareil tombe
        entre 768.01px et 768px */
/*      https://www.w3.org/TR/mediaqueries-4/#mq-min-max */
@media screen and (max-width: 992px) and (min-width: 768.01px)
{
    h1 { font-size: 2vw; }
    h2 { font-size: 1.5vw; }
    h3 { font-size: 1.5vw; }
    p { font-size: 1.5vw; }
    i { font-size: 1.5vw;}

    #top-half-block { flex-direction: column; }

    .card-review i { font-size: 1.1vw; }

    #locate-form { height: 4.5vw; }

    #locate-form-icon
    {
        width: 4.2vw;
        flex-grow: 0;
        border-radius: 1.1vw 0 0 1.1vw;
    }

    #locate-form #value, #locate-form input { font-size: 1.5vw; }

    #locate-form button
    {
        flex-grow: 0;
        border-radius: 1.1vw 0 0 1.1vw;
    }

    #locate-form input { width: 25vw; }

    #locate-filters-block
    {
        flex-direction: column;
    }

    #locate-filters-block h3
    {
        font-size: 2vw;
    }

    #locate-filters
    {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .locate-filter-item 
    { 
        height: 5vw; 
        border-radius: 2.5vw;
        margin-bottom: 1.5vw;
        border: solid 3px #F2F2F2;
    }

    .locate-filter-icon 
    { 
        height: 5vw; 
        width: 5vw; 
        border-radius: 2.5vw;
        border: solid 3px #DEEBFF;
        bottom: 3px;
        right: 3px;
    }

    .locate-filter-item:hover
    {
        border: solid 3px #DEEBFF;
    }

    .locate-filter-item p 
    {
        justify-content: center;
        align-self: center;
        font-size: 2vw;
        padding: 0 2.5vw 0 1.3vw;
    }

    #locate-info-bubble  { height: 3vw; }

    #popularity
    {
        order: -1;
        margin-bottom: 2vw;
    }

    #popularity-card-holder
    {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }

    #popularity-card-holder .card { width: 31%; }

    #popularity-card-holder .card-body  { width: 16vw; }

    #lodging, #popularity { width: 100%; }

    #activities-card-holder h3 { font-size: 1.225vw; }
    
    .footer-element { margin-right: 15vw; }
}

/* Mobiles */
@media screen and (max-width: 768px) 
{
    h1 
    { 
        margin: 8vw 0 6vw 0;
        font-size: 6vw; 
    }

    h2 { font-size: 5vw; }
    h3 { font-size: 4vw; }
    p { font-size: 4vw; }
    i { font-size: 3vw;}

    main { margin: 0; }

    nav, #top-half-block, #locate-filters-block, #lodging-card-holder, #activities, footer
    {
        flex-direction: column;
    }

    nav
    {
        align-items: center;
        margin: 0;
    }

    nav img
    {
        width: 25%;
        height: 25%;
        margin: 5vw 0 2vw 4vw;
    }

    nav #nav-buttons { align-self: stretch; }

    nav ul 
    { 
        justify-content: stretch;
        padding: 0;
    }

    nav a { width: 100%; }

    nav ul a li { width: 100%; }

    nav li
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .li-link
    {
        border-top: 0;
        border-bottom: solid 5px #F2F2F2;
    }

    .li-link:active
    {
        color: #0065FC;
    }

    .li-link:hover
    {
        border-top: 0;
        border-bottom: solid 5px #0065FC;
        color: #0065FC;
    }

    .card
    {
        border-radius: 40px;
        padding: 1.2vw;
    }

    .card-image img
    {
        border-radius: 30px;
        height: 100%;
    }

    .card-review i { font-size: 3vw; }

    #locate-form 
    {
        height: 14vw;
        justify-content: flex-start;
    }

    #locate, #lodging, #activities
    {
        margin: 0 6vw;
    }

    #locate h1 { margin-bottom: 4vw; }
    #locate-p { margin-bottom: 9vw; }

    #locate-form-icon
    {
        width: 14vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 4vw 0 0 4vw;
    }

    #locate-form-icon i { font-size: 5vw; }

    #locate-form input
    {
        flex-shrink: 1;
    }

    #locate-form input[type=text]
    {
        font-size: 4vw;
        padding-left: 2vw;
    }

    #locate-form #icon
    {
        display: flex;
        flex-shrink: 0;
        height: 100%;
        width: 14vw;
        padding: 0;
        border-radius: 4vw;
        position: relative;
        right: 7vw;
    }
    
    #locate-form #value
    {
        display: none;
    }

    #locate-form span
    { 
        width: 0;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 14vw; /* half #icon width + pos right 7 + 7 */ 
        font-size: 4.6vw;
    }

    #locate-filters
    {
        width: 100%;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .locate-filter-item
    {
        width: fit-content;
        height: 13vw;
        margin-bottom: 3vw;
        border: solid 4px #F2F2F2;
        border-radius: 6.5vw;
    }

    .locate-filter-item:hover
    {
        border: solid 4px #DEEBFF;
    }

    .locate-filter-icon
    {
        height: 13vw;
        width: 13vw;
        border-radius: 13vw;
        border: solid 4px #DEEBFF;
        bottom: 4px;
        right: 4px;
    }

    .locate-filter-icon i
    {
        font-size: 5vw;
    }

    .locate-filter-item p
    { 
        justify-content: center;
        align-self: center;
        font-size: 4vw;
        padding: 0 4.5vw 0 3.3vw;
        margin: 0;
    }

    #locate-info-bubble
    {
        width: 10vw;
        height: 13vw;
    }

    #locate-info-bubble i
    {
        display: flex;
        justify-content: center;
        width: 6vw;
        height: 6vw;
        border: solid 0.6vw #F2F2F2;
        border-radius: 5vw;
        padding: 1vw;
    }   

    #popularity
    {
        width: 100%;
        order: -1;
        border-radius: 0;
    }

    #lodging, #popularity { padding: 1.5vw 4.5vw; }

    #popularity-icon i 
    { 
        align-self: baseline;
        font-size: 5vw; 
    }

    #popularity-card-holder .card
    {
        height: 38vw;
        margin-bottom: 3vw;
    }

    #popularity-card-holder .card-image
    {
        width: 32vw;
        flex-shrink: 0;
    }

    #popularity-card-holder .card-body
    {
        width: 60vw;
        padding: 3vw 7vw 1.5vw 4vw;
    }

    #popularity-card-holder .card-info
    {
        align-self: flex-start;
    }

    #popularity-card-holder .card-body h3
    {
        margin: 0 0 1vw 0;
    }


    #popularity-card-holder img
    {
        width: 100%;
        height: 100%;
        border-radius: 34px 0 0 34px;
    }

    #lodging
    {
        width: 90%;
        padding: 0;
        background-color: white;
        border-radius: 0;
    }

    #lodging .card
    {
        height: 32vw;
    }

    #lodging .card-image
    {
        height: 30vw;
        flex-shrink: 0;
    }

    #lodging .card-image img
    {
        height: 100%;
        border-radius: 34px 34px 0 0;
        object-fit: cover;
    }

    #lodging .card-body
    {
        padding: 2vw;
        justify-content: space-between;
    }

    #lodging .card-title h3, #lodging .card-body p
    {
        margin: 0 0 1.5vw 0;
    }

    #activities-card-holder
    {
        height: auto;
    }

    #activities-card-holder .card:nth-child(n)
    {
        width: 100%;
        height: 49vw;
        margin-bottom: 6vw;
    }

    #activities-card-holder .card-title
    {
        height: 14vw;
    }

    #activities-card-holder .card-title h3
    {
        padding-left: 5vw;
    }

    #activities-card-holder .card:nth-child(n) .card-image
    {
        height: calc(100% - 13vw);
    }

    #activities-card-holder .card-image img
    {
        border-radius: 40px 40px 0 0;
        object-fit: cover;
    }

    footer
    {
       padding: 6vw;
    }

    .footer-element li
    {
        margin-bottom: 2vw;
    }
}