body
{
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    margin: 0;
}

h1
{
    font-size: 12px;
}

h2
{
    font-size: 11px;
}

h3
{
    font-size: 8px;
}

p
{
    font-size: 7px;
    font-weight: 500;
}

/* Header */

nav
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav img
{
    margin: 10px 0 0 4%;
    height: 25px;
}

nav ul
{
    display: flex;
    list-style: none;
    margin: 0;
}

nav li
{
    margin: 0;
    padding: 20px 20px 0 20px;
    font-size: 10px;
    font-weight: 500;
}

nav li:hover
{
    border-top: solid 1px #0065FC;
}

nav a
{
    color: black;
    text-decoration: none;
}

nav a:visited
{
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    text-decoration: none;
}

/* Main */

main
{
    margin: 0 3% 0 3%;
}

#locate-form
{
    display: flex;
    justify-content: start;
    height: 25px;
}

#locate-form-icon
{
    width: 25px;
    text-align: center;
    vertical-align: bottom;
    background-color: #F2F2F2;
    border-radius: 7px 0 0 7px;
}

#locate-form i
{
    padding: 5px;
    font-size: 8px;
}

#locate-form input
{
    border: solid 1px #F2F2F2;
    font-size: 8px;
    font-weight: 700;
}

#locate-form input:nth-of-type(2)
{
    color: white;
    border: solid 1px #F2F2F2;
    background-color: #0065FC;
    border-radius: 0 7px 7px 0;
    font-weight: 500;
}

#locate-filters-block
{
    display: flex;
    margin: 10px 0 15px 0;
}

#locate-filters
{
    display: flex;
    align-items: center;
}

#locate-filter-item
{
    display: flex;
    box-sizing: content-box;
    height: 25px;
    margin: 0 5px 0 0;
}

#locate-filter-icon
{
    position: relative;
    left: 10px;
    width: 25px;
    background-color: #DEEBFF;
    border: solid 2px #DEEBFF;
    border-radius: 25px;
    text-align: center;
    vertical-align: bottom;
}

#locate-filter-item i
{
    color: #0065FC;
    font-size: 10px;
}

#locate-filter-item p
{
    margin: 0;
    padding: 0 10px 0 15px;
    border: solid 2px #F2F2F2;
    border-radius: 0 25px 25px 0;
    border-left: none;
    font-size: 8px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
}

#locate-info
{
    display: flex;
    margin: 15px 0 15px 0;
}

#locate-info-bubble
{
    width: 12px;
    margin-right: 5px;
    text-align: center;
    vertical-align: bottom;
    border: solid 1px #F2F2F2;
    color: #0065FC;
    border-radius: 25px;
    font-size: 8px;
}

#locate-info p
{
    margin: 0;
}

/* Common properties */

#top-half-block
{
    display: flex;
    justify-content: space-between;
}

/* Cards */

.card
{
    background-color: white;
    border-radius: 10px;
    padding: 3px;
    /* margin-bottom: 2%; */
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card a
{
    height: 100%;
    color: black;
    text-decoration: none;
}

.card-image img
{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.card-body
{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

/* .card-title
{
    
} */

.card-info p
{
    margin-top: 0;
    margin-bottom: 0;
}

.card-review
{
    display: flex;
    margin-top: auto;
}

.card-review ul
{
    display: flex;
    margin: 0;
    padding: 0;
}

.card-review li
{
    list-style: none;
}

.card-review i
{
    color: #0065FC;
    font-size: 8px;
}

.card:hover
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

/* Hébergements */

#lodging
{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 3%;
    width: 66%;
}

#lodging-card-holder
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#lodging-card-holder .card
{
    flex: 0 32%;
    height: 120px;
    margin-bottom: 2%;
}

#lodging-card-holder .card a
{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#lodging-card-holder .card-image img
{
    height: 60px;
}

/* Popularity */

#popularity
{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 3%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

#popularity-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#popularity-icon { font-size: 10px; }

#popularity-card-holder
{
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Card Override */

#popularity-card-holder .card
{
    flex: 0 32%;
    height: 85px;
    margin-bottom: 5%;
}

#popularity-card-holder .card a
{
    display: flex;
}

#popularity-card-holder img
{
    width: 70px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

/* Activities */

#activities
{
   margin: 4% 0;
}

#activities-card-holder
{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 300px;
}

#activities-card-holder .card
{
    flex-direction: column;
    width: 23%;
    height: 49%;
}

#activities-card-holder .card a
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#activities-card-holder .card-title
{
    height: 30px;
}

#activities-card-holder .card-image
{
    height: 80%;
}

#activities-card-holder img
{ 
    height: 100%;
    object-fit:cover;
}

#activities-card-holder .card:nth-child(3n-2) { height: 100%; }

#activities-card-holder .card:nth-child(3n-2) .card-image { height: 100%; /*background-color: red;*/}

/* Footer */

footer
{
    background-color: #F2F2F2;
    display: flex;
    padding: 0 3% 0 3%;
}

.footer-element
{
    margin-right: 25%;
}

.footer-element ul
{
    padding: 0;
}

.footer-element li
{
    list-style: none;
}

.box /* IE/Opera */
{
    box-sizing: border-box;
}

*
{
    box-sizing: border-box;
}

/* Mobiles */
@media screen and (max-width: 768px) 
{
    nav
    {
        flex-direction: column;
        align-items: center;
    }
    #top-half-block
    {
        flex-direction: column;
    }
    #lodging, #popularity
    {
        width: 100%;
    }

    #popularity
    {
        order: -1;
    }

    #lodging-card-holder
    {
        flex-direction: column;
    }

    footer
    {
        flex-direction: column;
    }
}

/* Tablettes */
@media screen and (max-width: 992px) and (min-width: 768px)
{
    
}